<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Charles</mat-card-title>
    <mat-card-subtitle>UML</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img/my_headshot_large.jpg" alt="">
  <mat-card-content>
    <p>Application Developer</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="primary">DELETE</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button><mat-icon>publish</mat-icon></button>

  </mat-card-actions>
</mat-card>
